* {box-sizing: border-box;}
body { 
  margin: 0;
  font-family: 'Segoe UI', Verdana, sans-serif;
}
#navbar {
  overflow: hidden;
  background-color: #072227;
  padding: 40px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  padding-right: 30px;
  z-index: 99;
}
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  color: #95FFD2;
  padding-left: 90px;
}
#navbar a.active {
  background-color: #95FFD2;
  color: black;
}
#navbar-right {
  float: right;
}
#login{
  float: right;
  padding-left: 60px;
}
@media screen and (max-width: 580px) {
  #navbar {
    padding: 30px 30px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
h1{
  font-size: 50px;
  font-weight: 700;
}
p{
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
.toptext{
  text-align: center;
  padding-top: 130px;
}
.container{
  padding-left: 100px;
  text-align: left;
  display: flex;
  padding-right: 100px;
}
.container1{
  padding-left: 100px;
  text-align: right;
  display: flex;
  padding-bottom: 50px;
  padding-right: 130px;
}
.imgmisi{
  padding-left: 10px;
  padding-top:  60px;
}
.misi-text{
  padding-left: 130px;
}
.img-next{
  padding-top: 60px;
  padding-right: 10px;
}
.next-text{
  padding-left: 40px;
  padding-right: 160px;
  padding-top: 70px;
}
.bot-cont1{
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #072227;
  color: white;
  text-align: right;
}
.btn-mulai{
  padding: 8px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #95FFD2;
  color: #072227;
  border-radius: 8px;
}
.btn-mulai:hover{
  opacity: 0.7;
}
.footer {
    text-align: center;
    background-color: #072227;
    width: 100%;
    left: 0px;
    bottom: 0px;
    color: white;
    padding: 10px;
    margin-top: auto;
}