* {box-sizing: border-box;}
body { 
  margin: 0;
  font-family: 'Segoe UI', Verdana, sans-serif;
}
#navbar {
  overflow: hidden;
  background-color: #072227;
  padding: 40px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  padding-right: 30px;
  z-index: 99;
}
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  color: #95FFD2;
  padding-left: 90px;
}
#navbar a.active {
  background-color: #95FFD2;
  color: black;
}
#navbar-right {
  float: right;
}
#login{
  float: right;
  padding-left: 60px;
}
@media screen and (max-width: 580px) {
  #navbar {
    padding: 30px 30px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
.produk{
  text-align: center;
  padding-bottom: 40px;
  margin: 10px;
  padding-top: 130px;
}
.img-produk{
  width: 120px;
  height: 120px;
}
.column{
  float: left;
  padding-top: 50px;
  width: 33.33%;
}
.column1{
  float: left;
  width: 50%;
  padding-top: 50px;
}
.row:after{
  content: "";
  padding-top: 50px;
  display: table;
  clear: both;
}
.row1:after{
  content: "";
  padding-top: 50px;
  display: table;
  clear: both;
}
.footer {
  text-align: center;
  background-color: #072227;
  width: 100%;
  left: 0px;
  bottom: 0px;
  color: white;
  padding: 10px;
  margin-top: auto;
}