* {box-sizing: border-box;}
body { 
  margin: 0;
  font-family: 'Segoe UI', Verdana, sans-serif;
}
#navbar {
  overflow: hidden;
  background-color: #072227;
  padding: 40px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  padding-right: 30px;
  z-index: 99;
}
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  color: #95FFD2;
  padding-left: 90px;
}
#navbar a.active {
  background-color: #95FFD2;
  color: black;
}
#navbar-right {
  float: right;
}
#login{
  float: right;
  padding-left: 60px;
}
@media screen and (max-width: 580px) {
  #navbar {
    padding: 30px 30px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
.label-nama{
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #95FFD2;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #072227;
  color: white;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  text-align: center;
  background-color: #072227;
  width: 100%;
  left: 0px;
  bottom: 0px;
  color: white;
  padding: 10px;
  margin-top: auto;
}