* {box-sizing: border-box;}
body { 
  margin: 0;
  font-family: 'Segoe UI', Verdana, sans-serif;
  width: 70%;
  height: 100vh;
  background-color: #072227;
}
#navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-right: 30px;
  z-index: 99;
}
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  color: #95FFD2;
  padding-left: 90px;
}
.login-cont{
    padding: 16px;
    color: white;
    padding-top: 120px;
    padding-left: 500px;

}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid white;
  background: #072227;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.login-btn{
    background-color: #95FFD2;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn:hover{
    opacity: 1;
}
a{
    color: dodgerblue;
}
.signup-cont{
    padding-left: 680px;
    color: white;
}
h1{
  font-size: 58px;
  font-weight: 700;
}
p{
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
.footer {
  text-align: center;
  background-color: #072227;
  width: 100%;
  left: 0px;
  bottom: 0px;
  color: white;
  padding: 10px;
  margin-top: auto;
}